@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

#container {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	width: 100%;
	z-index: 2;
}

#inputContainer {
    display: flex;
	height: 5%;
	width: 30%;
	position: relative;
}

.input-container {
	display: flex;
	height: 5vh;
	width: 50vh;
	position: relative;
	border: 1px solid #a9a9a9;
	justify-content: space-between;
	margin: 10px;
	max-width: 80vw;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    border: none;
}

#input-container-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translate(0%, 45vh);
	transition-property: transform;
	transition-duration: 1s;
}

#usernameInput {
	width: 100%;
	height: 100%;
	font-size: larger;
}


button {
	width: 30%;
	font-size: larger;
}

.infoText {
	bottom: 0;
	padding: 1em;
	height: auto;
	position: absolute;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	height: 100%;
}

#error-message {
	opacity: 0%;
	transition: opacity 0.5s ease;
	font-size: large;
	font-family: 'Open Sans', sans-serif;
}

img {
	height: 50vw;
	position: absolute;
	max-height: 50vh;
	opacity: 0%; 
	transform: translate(0%, 45vh);
	transition: opacity 0.5s ease;
	display:none;
}

.options {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	position: relative;
}

.options-container {
	position: absolute;
    top: 0;
    padding: 1em;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.options  > *{
}

#options-help-cypher {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	padding: 1em;
	display: none;
}

#options-help-cheating {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	padding: 1em;
	display: none;
}

input[type="checkbox"]{
  transform: scale(2);
  height: auto;
}